.App {
  text-align: center;
}

.App header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

.App header a {
  text-decoration: none;
  color: white;
}
